script(src='/javascripts/letitrain.js')
#zones
    a(href="#", data-relay="6") Zone 1
    a(href="#", data-relay="2") Zone 2
    a(href="#", data-relay="3") Zone 3
    a(href="#", data-relay="4") Zone 4

button(id="but") Test
#update
